@using System.Collections
@model SupportMe.Web.Areas.Admin.Models.Contacts.ContactViewModel

<div class="editor-label">
    @Html.LabelFor(m => m.PhoneNumber)
</div>
<div class="editor-field">
    @Html.EditorFor(m => m.PhoneNumber)
    @Html.ValidationMessageFor(m => m.PhoneNumber)
</div>

<div class="editor-label">
    @Html.LabelFor(m => m.Email)
</div>
<div class="editor-field">
    @Html.EditorFor(m => m.Email)
    @Html.ValidationMessageFor(m => m.Email)
</div>

<div class="editor-label">
    @Html.LabelFor(m => m.AddressId)
</div>
<div class="editor-field">
    @(Html.Kendo()
          .DropDownListFor(m => m.AddressId)
          .DataValueField("Value")
          .DataTextField("Text")
          .BindTo((IEnumerable) ViewBag.Addresses))
    @*@Html.DropDownListFor(m => m.AddressId, new SelectList((IEnumerable)ViewBag.Addresses, "Value", "Text"), new { @class = "k-input k-autocomplete" })*@
</div>

@Html.Partial("_KendoGridValidationErrorsXKendoTemplate")