@using SupportMe.Data.Common.Constants
@model SupportMe.Web.ViewModels.Message.MessageForTicketViewModel

<div class="row">
    <div class="col-md-12">
        @using (Ajax.BeginForm(
                        actionName: "AddToTicket",
                        controllerName: "Message",
                        ajaxOptions: new AjaxOptions()
                        {
                            UpdateTargetId = "messages-list",
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                        },
                        routeValues: new { area = string.Empty, id = Model.TicketId },
                        htmlAttributes: new { @class = "form-horizontal well" }
                        ))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Your message</legend>
                @Html.HiddenFor(m => m.TicketId)
                @Html.EditorFor(m => m.Message)
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Add">
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>

@foreach (var message in Model.Messages)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-10">
                            Author: <span class="text-primary"><small>@message.Author.UserName</small> @message.Author.FirstName @message.Author.LastName</span>
                            @Html.ActionLink($"To {message.Author.UserName} profile page", "Details", "User", new {area = string.Empty, id = message.Author.Id}, new {@class="btn btn-success btn-sm"})
                        </div>
                        @if (User.IsInRole(UserRole.Support) || User.IsInRole(UserRole.Admin))
                        {
                            <div class="col-md-2 text-right">
                                Pricing units: <span class="badge">@message.PricingUnits</span>
                            </div>
                        }
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            @(Html.Raw(message.Content.Replace("/n", "<br/>")))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @message.CreatedOn
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}