@model SupportMe.Web.ViewModels.Contact.ContactViewModel
<table class="table table-bordered table-hover table-striped table-condensed">
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>@Model.PhoneNumber</td>
    </tr>
    @if (Model.Address != null)
    {
        <tr>
            <th>Country</th>
            <td>@(Model.Address?.Country)</td>
        </tr>
        <tr>
            <th>City</th>
            <td>@(Model.Address?.City)</td>
        </tr>
        <tr>
            <th>Street</th>
            <td>@(Model.Address?.Street)</td>
        </tr>
        <tr>
            <th>State</th>
            <td>@(Model.Address?.State)</td>
        </tr>
        <tr>
            <th>Zip Code</th>
            <td>@(Model.Address?.ZipCode)</td>
        </tr>
    }
</table>